@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    background-color: #060c21;
}
*{
    font-family: 'Poppins', sans-serif;
}

.about{
    color: white;
    text-align: center;
    margin: 50px 50px;
    padding: 20px 20px;
    border-bottom-left-radius: 10rem;
    background: #060c21;
    box-shadow:  5px 5px 11px #bebebe,
                -5px -5px 11px #ffffff;
                transition: 1s;
                box-shadow:  2px 2px 5px #bebebe,
                            -2px -2px 5px #ffffff;
            }
            
.about:hover{
    box-shadow:  5px 5px 11px #bebebe,
                -5px -5px 11px #ffffff;
            }
.about h2{
    margin: 10px;
}
.about .msg{
    text-align: justify;
}

.about .msg p{
    margin: 0 0 10px;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size:17px;
}
.about .msg strong{
    margin: 0 0 10px;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size:17px;
}

.line{
    border-bottom:4px solid rgb(241, 195, 15);
    border-radius: 5px;
    margin-left: 90px;
    margin-right: 90px;
}

.text{
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}

.about img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: relative;
    display: flex;
    margin-top: 0px;
    border: 5px solid #bebebe;
    justify-content: center;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.2),
        5px 5px 5px rgba(255, 255, 255, 0.1),
        inset -5px -5px 5px rgba(255, 255, 255, 0.2),
        inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.about img:hover{
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2),
        15px 15px 15px rgba(255, 255, 255, 0.1),
        inset -10px -10px 10px rgba(255, 255, 255, 0.2),
        inset 15px 15px 15px rgba(0, 0, 0, 0.1);

}

@media screen and (max-width:1200px){
    .about{
        padding: 20px 20px;
    }
    .about .msg p{
        font-size:small;
    }
    .about .msg strong{
        font-size:small;
    }
    .about img{
        max-width: 90%;
        height: auto;
    }

}

@media screen and (max-width: 500px) {
    .about{
        padding: 25px 25px;
    }
    .about .msg p{
        font-size:small;
    }
    .about .msg strong{
        font-size: small;
    }
}

/* @media screen and (max-width:600px){
    .about{
        width: 85%;
        text-align: center;
    }
    .about .msg{
        font-size: 1vw;
    }
    .heading h1{
        font-size: 30px;
    }
    
    
} */
/* 
@media screen and (max-width:450px) {
    .about{
        width: 80%;
        border-bottom-left-radius: 5rem;
    }
    
    .about .msg p{
        width: 100vmin;
        font-size:small; */
        /* overflow-wrap: break-word; */
        /* word-wrap    : break-word;
        overflow-wrap: break-word;
        white-space: pre-wrap; */
        /* word-break: break-all; */
        /* margin-left: -20px; */
    /* } */
    /* .about .msg strong{
        font-size: small;
        width: 80vmin;
    }
    .about h2{
        font-size: large;
        width: 100%;
    }
    .about img{
        max-width: 90%;
        height: auto;
    }
} */
/* 
@media screen and (max-width:300px) {
    .about{
        justify-content: center;
    }
    .about .msg p{
        width: 80vmin;
        margin-left: -20px;
    }
    .about .msg strong{
        width: 80vmin;
        margin-left: -20px;
    }
    .about h2{
        font-size: 15px;
        
    }
} */