.events-sec{
    position: relative;
    padding: 2.5rem 0;
    overflow: hidden;
}
.heading{
    padding-bottom: 2%;
    border-bottom: 4px solid rgb(241, 195, 15);
    margin-bottom: 2%
}
.events-img{
    border-radius: 18px;
    display: block;
    width: 100%;
    height: auto;
}
.cover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1d1d218f;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
  }
  .outer-box:hover .cover {
    width: 0;
  }  
  .text {
    color: white;
    font-size: larger;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  .event-box{
    margin-bottom: 5%;
    padding: 2%;
  }
  .card-head{
    background-color: #30373de8;
    border-radius: 10px;
    margin-top: 4%;
    width: 85%;
    height: 106%;
    padding: 2%;
    margin-top: 6%;
    box-shadow: 1px 0px 10px 4px #888888d1;
  }
  .card-data p{
    font-weight: 500;
    text-align: center;
  }
  .card-head:hover{
    background-color: #8b9397cc;
    transition: 0.5s ease;
  }
  /* footer start  ---------------------------------- */

footer {
    background: #0a0c18;
    color: white;
    padding: 20px 10px;
    position: relative;
    bottom: 0;
}

hr.light {
    border-top: 1px solid #ffffff;
    width: 100%;
    margin: .8rem 0;
}

.daafooter a,
.daaLogo {
    text-align: center;
    color: #ffffff;
    font-size: 13px;
}

.daafooter a:hover,
.daaLogo:hover {
    color: #ffdd55;
}

footer a {
    color: #d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

li {
    list-style-type: none;
}

.social_icon li a {
    font-size: 30px;
    margin-right: 1vw;
}

li a:hover {
    color: #ffdd55;
    text-decoration: none;
}

.footer_inner1 {
    margin-left: 35%;
}

.socialresponsive {
    align-items: center;
}

ul.social_icon {
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
}

ul.social_icon li {
    float: left;
    height: 60px;
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    padding: 0;
}

.about-para-link {
    margin-bottom: 8vh;
}

#nav-bars {
    display: none;
}


/*--- Bootstrap Padding Fix --*/

[class*="p1"] {
    padding: 1rem;
}


/* footer section end ---------------------------- */

@media only screen and (max-width : 450px){
    .events-img{
        padding: 4%;
    }
    .card-head{
        margin-left: 6%;
        height: 95%;
    }
    .card2{
        margin-top: 10%;
    }
}

@media only screen and (min-width : 768px){
    .event-info{
        font-size: 17px;
        padding-top: 9%;
        line-height: 3rem;
    }
    .card-head{
        margin-left: 30%;
    }

}

@media only screen and (min-width : 1024px){
    .event-info{
        font-size: 24px;
        padding-top: 15%;
        line-height: 3rem;
    }

}