@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
} */

.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.teams {
    width: 90%;
    margin: 0px auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    position: relative;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    margin: 20px;
    transition: 0.5s;
}

.box:hover {
    height: 400px;
}

.box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box .imgBx img {
    max-width: 100%;
    max-height: 80%;
    opacity: 0.5;
    transition: 0.5s;
}

.box:hover .imgBx img {
    opacity: 1.75;
}

.box .social-handles a img {
    margin: 5px;
}

.box::before {
    content: ' ';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #ffff;
    z-index: -1;
}

.box::after {
    content: ' ';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.box:before,
.box-after {
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.box:nth-child(2):before,
.box:nth-child(2):after {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.box:nth-child(3):before,
.box:nth-child(3):after {
    background: linear-gradient(235deg, #772aff, #2196F3);
}

.box .content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 90px;
    color: white;
    /* background: rgba(117, 39, 39, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: 0.5s;
}

.box .social-handles {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    justify-content: space-between;
    /* text-align: center; */
    transition: 0.5s;
    opacity: 0;
}

.box:hover .social-handles {
    opacity: 1;
}

.box:hover .content {
    opacity: 1;
}

.box .content .h3 {
    font-size: 14px;
    opacity: 1;
    color: #fff;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 2px;
    display: none;
}

section,
.section-padding {
    position: relative;
    padding: 0.5rem 0;
    overflow: hidden;
}

@media screen and (max-width: 550px) {
    .heading h1 {
        font-size: xx-large;
    }
}